@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
    --background-color: #282a36;
    --green-color: #50fa7b;
    --orange-color: #ffb86c;
    --secondary-background-color: #44475a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

/* Header */

header {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 0px 8px black;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header menu */

nav {
    width: 100%;
    border-bottom: 2px solid var(--green-color);
}

.menu-navigation {
    display: flex;
    list-style: none;
}

.menu-navigation li {
    width: 100%;
}

.menu-navigation a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: var(--green-color);
}

/* header title */

.header-title-container {
    display: inline-block;
    text-align: center;
    margin-top: 75px;
}

.header-title-container h1 {
    font-size: 28pt;
    color: var(--orange-color);
}

/* Header Profile Image */

#profile-image {
    width: 150px;
    border-radius: 50%;
    outline: 2px solid var(--green-color);
    position: relative;
    top: 75px;
}

/* main-container */

main {
    margin-top: 80px;
}

/* Footer */

footer {
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--green-color);
    padding: 20px;
}