@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
    --background-color: #282a36;
    --green-color: #50fa7b;
    --orange-color: #ffb86c;
    --secondary-background-color: #44475a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

/* Header */

header {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 0px 8px black;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header menu */

nav {
    width: 100%;
    border-bottom: 2px solid var(--green-color);
}

.menu-navigation {
    display: flex;
    list-style: none;
}

.menu-navigation li {
    width: 100%;
}

.menu-navigation a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: var(--green-color);
}

/* header title */

.header-title-container {
    display: inline-block;
    text-align: center;
    margin-top: 75px;
}

.header-title-container h1 {
    font-size: 28pt;
    color: var(--green-color);
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 5px;
}

.header-title-container h3 {
    color: white;
}

/* Header Profile Image */

#profile-image {
    width: 150px;
    border-radius: 50%;
    outline: 2px solid var(--green-color);
    position: relative;
    top: 75px;
}

/* main-container */

main {
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Projects section */

.section-projects {
    padding: 8px;
}

.section-title {
    color: var(--green-color);
    text-align: center;
    border-bottom: 4px solid var(--green-color);
    font-size: 30pt;
}

/* Projects container */

.project-container {
    background-color: var(--secondary-background-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container a {
    text-decoration: none;
    color: var(--orange-color);
}

.image-container img {
    width: 100%;
    border: 2px solid var(--background-color);
    border-radius: 8px;
}

/* Contact section */

.contact-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--secondary-background-color);
}

.contact-menu img {
    width: 32px;
    margin-right: 5px;
}

.contact-menu a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    padding: 5px;
    transition-property: color, border-color;
    transition-duration: 0.8s;
}

.contact-menu a:hover {
    border-color: var(--green-color);
    color: var(--green-color);
}

/* Footer */

footer {
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--green-color);
    padding: 20px;
}

/* Responsivity */

@media screen and (min-width: 550px) {
    #profile-image {
        width: 200px;
        top: 100px;
    }

    .main-container {
        margin: 110px auto;
    }

    .contact-menu, #contact {
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 1500px) {

    nav {
        width: 1500px;
        border: 2px solid var(--green-color);
    }

    .main-container {
        width: 1500px;
    }

    .contact-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    #contact, .contact-menu {
        width: 100%;
    }

    .contact-menu a {
        width: 350px;
    }
    
}