* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: grey;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header menu */

nav {
    width: 100%;
}

.menu-navigation {
    display: flex;
    list-style: none;
    background-color: pink;
}

.menu-navigation li {
    width: 100%;
}

.menu-navigation a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

/* header title */

.header-title-container {
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    margin-top: 75px;
}

/* Header Profile Image */

#profile-image {
    width: 150px;
    border-radius: 50%;
    outline: 2px solid white;
    position: relative;
    top: 75px;
}